@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Space+Mono:ital,wght@0,400;1,700&display=swap");

* {
  font-family: "Abril Fatface", cursive;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}
